<div class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">

  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">
      <%= yield %>
    </div>
  </div>

</div>
