<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse"
    data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation" >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to 'Diário', home_index_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Alimentos', alimentos_path, class: "nav-link" %>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <span class="navbar-text mr-4"><%= current_user.email %></span>
      </li>
      <li>
        <%= button_to 'Sair', destroy_user_session_path, method: :delete,
          class: "btn btn-dark" %>
      </li>
    </div>
  </div>
</nav>
