<nav>
  <ul class="pagination justify-content-center d-flex">
    <li class="page-item">
      <div class='page-link' id='prev'>
        <span>&laquo;</span>
      </div>
    </li>
    <li class="flex-fill">
      <span class="page-link text-center" id="data">
        <%= Diario.data_formatada(session[:data_selecionada]) %>
      </span>
    </li>
    <li class="page-item">
      <div class='page-link' id='next'>
        <span>&raquo;</span>
      </div>
    </li>
  </ul>
</nav>

<div id="refeicoes">
</div>
