<nav>
  <ul class="pagination justify-content-center d-flex">
    <li class="page-item" id="prev">
      <a class="page-link" href="#">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="flex-fill">
      <span class="page-link text-center" id="data"></span>
    </li>
    <li class="page-item disabled" id="next">
      <a class="page-link" href="#">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>

<div id="carousel-dias" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <% @dias.each do |dia| %>
      <div class="carousel-item">
        <%= render partial: 'show', locals: {dia: dia} %>
      </div>
    <% end %>
  </div>
</div>

<script>
  $('#carousel-dias').find('.carousel-inner').children().last().addClass('active');

  var total = $('#carousel-dias').find('.carousel-item').length;
  var current = $('#carousel-dias').find('.carousel-item.active').index();
  var dias = <%= raw Dia.string_array(@dias).to_json %>;

  $('#data').text(dias[current]);

  if (total == 1) {
    $('#prev').addClass('disabled');
  }

  $('#carousel-dias').carousel({
    interval: false,
    wrap: false,
    touch: false,
    keyboard: false
  });

  $('#prev a').click(function(e) {
    e.preventDefault();
    current--;

    if (current == 0) {
      $('#prev').addClass('disabled');
    }

    $('#next').removeClass('disabled');
    $('#data').text(dias[current]);
    $('#carousel-dias').carousel('prev');
  });

  $('#next a').click(function(e) {
    e.preventDefault();
    current++;

    if (current == total - 1) {
      $('#next').addClass('disabled');
    }

    $('#prev').removeClass('disabled');
    $('#data').text(dias[current]);
    $('#carousel-dias').carousel('next');
  });
</script>
