<div class="tab-content border-top border-bottom">
  <div class="tab-pane fade show active" id="todos" role="tabpanel"
    aria-labelledby="todos-tab">
    <%= render partial: 'lista', locals: {
      alimentos: @todos_alimentos
    } %>
  </div>

  <div class="tab-pane fade" id="meus" role="tabpanel"
    aria-labelledby="meus-tab">
    <%= render partial: 'lista', locals: {
      alimentos: @meus_alimentos
    } %>
  </div>
</div>
