<div class="d-flex justify-content-between align-items-center mb-3">
  <div>
    <h1>Meus alimentos</h1>
  </div>

  <div class="ml-auto mr-4">
    <%= render partial: 'search_form', locals: {refeicao: @refeicao} %>
  </div>

  <div>
    <%= button_to 'Criar alimento', new_user_alimento_path(@user),
      method: :get, class: "btn btn-primary" %>
  </div>
</div>

<div id="table-content">
  <%= render 'table' %>
</div>
