// Place all the styles related to the Alimentos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.scroll {
    max-height: 50vh;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.table thead th {
    position: sticky;
    top: 0;
}
