<%= render "shared/delete" do %>
  <div class="modal-body">
    Deseja mesmo remover esse registro?
  </div>

  <div class="modal-footer">
    <%= button_to 'Sim', [@user, @refeicao, @registro], method: :delete,
      class: 'btn btn-danger' %>

    <button type="button" class="btn btn-secondary" data-dismiss="modal">
      Cancelar
    </button>
  </div>
<% end %>
